<div class="p-3">
    <h2 id="title">
        Welcome to Ember
    </h2>

    {{! template-lint-disable no-passed-in-event-handlers }}
    <FormValidator @changeset={{this.model}} @submit={{this.submitForm}} as |changeset validator|>
        {{validator.showAllValidationFields}}
        <validator.input @errors={{changeset.error.name.validation}}>
            {{! template-lint-disable require-input-label }}
            <Input @value={{changeset.name}} class="form-control" autocomplete="off" />
        </validator.input>
        <validator.input @errors={{changeset.error.num.validation}}>
            {{! template-lint-disable require-input-label }}
            <Input @value={{changeset.num}} class="form-control" autocomplete="off" />
        </validator.input>
        <validator.input @errors={{changeset.error.nestedItem.much.wow.validation}}>
            <ChangesetInput
                @changeset={{changeset}}
                @path="nestedItem.much.wow"
                class="form-control"
                autocomplete="off"
            />
        </validator.input>
        <validator.input @errors={{changeset.error.radio.validation}}>
            <div class="form-check">
                <input
                    type="radio"
                    class="form-check-input"
                    name="radio-input"
                    id="radio1"
                    value="1"
                    {{on "click" (fn this.updateRadio "1")}}
                />
                <label class="form-check-label" for="radio1">
                    Option 1
                </label>
            </div>
            <div class="form-check">
                <input
                    type="radio"
                    class="form-check-input"
                    name="radio-input"
                    id="radio2"
                    value="1"
                    {{on "click" (fn this.updateRadio "2")}}
                />
                <label class="form-check-label" for="radio2">
                    Option 2
                </label>
            </div>
        </validator.input>

        <validator.child @changeset={{this.childChangeset}} as |childChangeset ChildValidator|>
            {{ChildValidator.showAllValidationFields}}
            <h2>
                Child validator
            </h2>
            <ChildValidator.input @errors={{childChangeset.error.foo.validation}}>
                {{! template-lint-disable require-input-label }}
                <Input @value={{childChangeset.foo}} class="form-control" autocomplete="off" />
            </ChildValidator.input>
        </validator.child>
        <button class="btn btn-primary" type="submit" {{on "click" validator.submit}}>
            Submit
        </button>
    </FormValidator>
</div>
{{outlet}}