{{#if this.label}}
    <label for={{this.inputId}} class="{{this.labelClass}} input-validator-label">
        {{this.fieldLabel}}
    </label>
{{/if}}
{{yield}}
{{#unless this.hideErrorText}}
    <div class="input-validator-error">
        {{#if this.showError}}
            <div class={{this.errorClass}}>
                {{if this.msg this.msg this.error}}
            </div>
        {{/if}}
    </div>
{{/unless}}
