{{#if label}}
    <label for={{inputId}} class="{{labelClass}} input-validator-label">{{fieldLabel}}</label>
{{/if}}
{{yield}}
{{#unless hideErrorText}}
    <div class="input-validator-error">
        {{#if showError}}
            <div class={{errorClass}}>
                {{if msg msg error}}
            </div>
        {{/if}}
    </div>
{{/unless}}
